obj
bin
deploy
deploy/*
_ReSharper.*
*.resharper
*.suo
*.cache
~$*
*.user
packages
*.user
logs
aspnet_client
/CrimeAlert.Web/Configs/uploadService.config
/CrimeAlert.Web/Configs/connectionStrings.config
/CrimeAlert.Web/Configs/sessionState.config
