@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Contact us</h3>
    </header>
    <p>
        <span class="label">Email:</span>
        <span><a href="http://www.devbridge.com/proposal/">Submit a message!</a></span>
    </p>
</section>